* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family:'Gotham Pro';
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 62px;
}

p {
    font-size: 22px;
}

.blue {
    background-color: #1E78FF;
    border-radius: 0 0 30px 30px;
    transition: 2s;
}

.wrap {
    max-width: 1320px;
    margin: 0 auto;
}

.wrap:nth-last-child(2) {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 15px 0;
}

.header__img {
    background-image: url(./img/logo.svg);
    background-size: cover;
    height: 100px;
    width: 66px;
    transition: 10s;
}

.nav {
    width: 40%;
}

.nav__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    color: white;
}

.arrow__img {
    background-color: #1E78FF;
    border-radius: 50%;
    padding: 20px 15px 20px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-track {
    display: flex;
    margin-top: 30px;
}

.slider__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation-name: fade;
    animation-duration: 1.5s;
}

.prev {
    background-image: url(./img/arrow-bold.svg);
    width: 1%;
    background-size: cover;
    height: 37px;
    background-position: center;
    margin-right: 90px;
}

.prev:active {
    background-image: url(./img/arrow-bold2.svg);
    transform: rotateY(180deg);
}
.right {
    background-image: url(./img/arrow-bold.svg);
    width: 1%;
    background-size: cover;
    height: 37px;
    background-position: center;
    margin-left: 90px;
    transform: rotateY(180deg);
}
.right:active {
    background-image: url(./img/arrow-bold2.svg);
    transform: none;
}

.main__text {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 67px;
    margin-top: 200px;
}

.text__tz {
    margin-bottom: 40px;
}

.text__p {
    color: #979797;
    margin-bottom: 92px
}

.grey p{
    font-size: 14px;
    color: #A5A5A5;
}

.main__form {
    width: 50%;
    height: 100%;
    background-image: url(./img/phone.svg);
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
}

.form:nth-child(2) {
    margin: 0;
}

form{
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    width: 50%;
}

form:nth-child(2) {
    width: 30%;
}

form input {
    border-radius: 15px;
    padding: 26px;
    border: 0;
    margin-bottom: 27px;
}

form  p {
    font-size: 14px;
    color: #979797;
}

form button {
    padding: 25px;
    border-radius: 15px;
    background-color: #1E78FF;
    color: white;
    border: 0;
    margin-bottom: 18px;
    cursor: pointer;
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

.text {
    text-align: center;
    color: #979797;
    margin-bottom: 40px;
}

.slider__img {
    background-image: url(./img/Rectangle9.svg);
    background-size: cover;
    width: 100%;
    color: white;
    padding: 18px;
    border-radius: 20px 20px 0px 0px;
}

.img__text {
    display: flex;
    justify-content: center;
    background-color: #EDEDED;
    padding: 40px 40px 0 40px;
}

.ellips {
    display: flex;
    width: 57%;
    justify-content: space-between;
}

@keyframes fade {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}